.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* sahred style */
.text-primary{
    color: #09ff00;
}
.dark-2{
    color: #474747;
}
.btn-primary{

    background-color: #0300a5;
    font-weight: bold;
    color: aliceblue;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.header{
    background-image: url("..//images/developer.png"),url('..//images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    margin-left: 30px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration : none;
}
nav ul{
    display: flex;
    align-items: center; 
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 230px;
}
.banner-content{
    max-width: 580px;
}
.banner-greet{
     font-size: 45px;
     font-weight: 600;

}

.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-picure{

}
